<h1>Dollscape</h1>

<div id='place-container'>
  <div id='main-place' class='place'>
    main
  </div>
  <div id='destination-places'>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
  $(function(){
    var that = this;
    draw = SVG('drawing').size(800, 500);

    window.App = {};
    window.App.vent = _.extend({}, Backbone.Events);

    var doll = new Doll();
    doll.fetch({
      success: function(){
        // doll.set_place(doll.get('id'));
        var dollView = new DollView({ model: doll });
        dollView.render();
        dollPlaceId = doll.get('place_id');

        var places = new PlaceCollection();

        places.fetch({
          success: function(){
            var that = this;
            _.each(places.models, function(place){
            //  var newPlace = new Place(place);
              if (place.get('id') == dollPlaceId){
                place.set({'dollPlace' : true});
              }
              placeView = new PlaceView({ model:place });
              //
              // var dollRoomId = doll.get('place_id');
              // var dollPlace = places.get(dollRoomId);
              // if (place == dollPlace){
              //   placeView.render();
            //  }
            });

        }
        });
      },
      error: function(model,response,options){
        console.log("fetch error")
      }
    });




  });
</script>
