<h1>Dollscape<span id="save-btn"><i class="fa fa-floppy-o"></i></span></h1>



<div id='place-container'>
  <div id='main-place' class='place'>
  </div>
  <div id='destination-places'>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
  $(function(){
    var that = this;
    draw = SVG('main-place').size('100%','100%');

    window.App = {};
    window.App.vent = _.extend({}, Backbone.Events);

    var doll = new Doll();
    doll.fetch({
      success: function(){
        // doll.set_place(doll.get('id'));
        var dollView = new DollView({ model: doll });
        dollView.render();
        dollPlaceId = doll.get('place_id');

        var places = new PlaceCollection();

        places.fetch({
          success: function(){
            var that = this;
            _.each(places.models, function(place){
            //  var newPlace = new Place(place);
              if (place.get('id') == dollPlaceId){
                place.set({'dollPlace' : true});
              }
              placeView = new PlaceView({ model:place });
            });
          }
        });
      },
      error: function(model,response,options){
        console.log("fetch error")
      }
    });
  });

  $('#save-btn').mousedown(function(){
    App.vent.trigger('save');
    $(this).css('color', '#D9CE4F');
  });
  $('#save-btn').mouseup(function(){
    $(this).css('color', '#E6E8E2');
  });


</script>
