<h1>Dollscape</h1>

<div id='place-container'>
  <div id='main-place' class='place'>
    main
  </div>
  <div id='destination-places'>
    <div id='placement1' class='place'>
      1
    </div>
    <div id='placement2' class='place'>
      2
    </div>
    <div id='placement3' class='place'>
      3
    </div>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
$(function(){

draw = SVG('drawing').size(800, 500);
var doll_set = draw.set();
var dollId;
var mainPlaceId;





var doll = new Doll();

doll.fetch({
  success: function(){
    var mainPlaceUrl = '/doll/' + doll.get('id') + '/place';
    var mainPlace = new Place();
    mainPlace.url = mainPlaceUrl;
    doll.set('mainPlace', mainPlace);
    var dollView = new DollView({ model: doll });
    dollView.render();
  },
  error: function(model,response,options){
    console.log("fetch error")
  }
});

// var location = new Location();
// location.fetch({
//   success: function(){
//     var locationView = new LocationView({ model: location });
//     locationView.render();
//   }
// });






var glasses = draw.image('images/glasses1.svg');
var pants = draw.image('images/pants1.svg');

var diffX = 0;
var diffY = 0;


glasses.draggable();

pants.draggable();

//doll_set.draggable();




glasses.dragmove = function(delta, event){
  var itemBox = glasses.bbox();
  var itemX = itemBox.x;
  var itemY = itemBox.y;
;
  if (doll_image.inside(itemX, itemY)){
    if (itemsOnDoll.index(glasses) == -1){
      itemsOnDoll.add(glasses);
    }
  }
else{
  itemsOnDoll.remove(glasses);
}
}



})
</script>
