<h1>Dollscape</h1>

<div id='place-container'>
  <div id='main-place' class='place'>
    main
  </div>
  <div id='destination-places'>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
  $(function(){

    draw = SVG('drawing').size(800, 500);

    window.App = {};
    window.App.vent = _.extend({}, Backbone.Events);

    var doll = new Doll();
    doll.fetch({
      success: function(){
        doll.set_place(doll.get('id'));
        var dollView = new DollView({ model: doll });
        dollView.render();
      },
      error: function(model,response,options){
        console.log("fetch error")
      }
    });

    var places = new PlaceCollection();
    places.fetch({
      success: function(){
        console.log("places: " + places);
      }
    });
  });
</script>
