<h1>Dollscape</h1>

<div id='location-container'>
  <div id='main-location' class='location'>
    main
  </div>
  <div id='destination-locations'>
    <div id='placement1' class='location'>
      1
    </div>
    <div id='placement2' class='location'>
      2
    </div>
    <div id='placement3' class='location'>
      3
    </div>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
$(function(){

draw = SVG('drawing').size(800, 500);
var doll_set = draw.set();
var dollId;
var mainLocationId;





var doll = new Doll();

doll.fetch({
  success: function(){
    var dollView = new DollView({model: doll});
    dollView.render();
  },
  error: function(model,response,options){
    console.log("fetch error")
  }
});

var locationCollection = new LocationCollection();

$('#main-location').css('background-image','url(images/room.svg)')



var glasses = draw.image('images/glasses1.svg');
var pants = draw.image('images/pants1.svg');

var diffX = 0;
var diffY = 0;


glasses.draggable();

pants.draggable();

//doll_set.draggable();




glasses.dragmove = function(delta, event){
  var itemBox = glasses.bbox();
  var itemX = itemBox.x;
  var itemY = itemBox.y;
;
  if (doll_image.inside(itemX, itemY)){
    if (itemsOnDoll.index(glasses) == -1){
      itemsOnDoll.add(glasses);
    }
  }
else{
  itemsOnDoll.remove(glasses);
}
}



})
</script>
