<h1>Dollscape</h1>

<div id='place-container'>
  <div id='main-place' class='place'>
    main
  </div>
  <div id='destination-places'>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
$(function(){

draw = SVG('drawing').size(800, 500);
// var doll_set = draw.set();
// var dollId;
// var mainPlaceId;
//var itemCollections ={};

window.App = {};
window.App.vent = _.extend({}, Backbone.Events);


var doll = new Doll();
doll.fetch({
  success: function(){
    doll.set_place(doll.get('id'));
    var dollView = new DollView({ model: doll });
    dollView.render();
  },
  error: function(model,response,options){
    console.log("fetch error")
  }
});

// App.vent.on('insertCollection', function(data){
//   var placeId = data.collectionId;
//   var itemCollection = data.itemCollection;
//   itemCollections[placeId] = itemCollection;
// })
//
// App.vent.on('insertIntoCollection', function(data){
//   var item = data.item;
//   var placeId = data.placeId;
//   var itemCollection = itemCollections[placeId];
//   itemCollection.add(item);
// })
//
// App.vent.on('removeFromCollection', function(data){
//   var item = data.item;
//   var placeId = data.placeId;
//   var itemCollection = itemCollections[placeId];
//   itemCollection.remove(item);
// })
//
// function putItemOnDoll(){
//   // item is put into itemsOnDoll
//   //send item image to dollview
//
//   //item is removed from main place collection
//   //send item object to placeView
//
// }

// var location = new Location();
// location.fetch({
//   success: function(){
//     var locationView = new LocationView({ model: location });
//     locationView.render();
//   }
// });





//
// var glasses = draw.image('images/glasses1.svg');
// var pants = draw.image('images/pants1.svg');

// var diffX = 0;
// var diffY = 0;


// glasses.draggable();
//
// pants.draggable();

//doll_set.draggable();




// glasses.dragmove = function(delta, event){
//   var itemBox = glasses.bbox();
//   var itemX = itemBox.x;
//   var itemY = itemBox.y;
// ;
//   if (doll_image.inside(itemX, itemY)){
//     if (itemsOnDoll.index(glasses) == -1){
//       itemsOnDoll.add(glasses);
//     }
//   }
// else{
//   itemsOnDoll.remove(glasses);
// }
// }



})
</script>
