<h1>Dollscape</h1>

<div id='place-container'>
  <div id='main-place' class='place'>
    main
  </div>
  <div id='destination-places'>
  </div>
</div>

<div id='drawing'>
</div>

<script type='text/javascript'>
  $(function(){

    draw = SVG('drawing').size(800, 500);

    window.App = {};
    window.App.vent = _.extend({}, Backbone.Events);

    var doll = new Doll();
    doll.fetch({
      success: function(){
        // doll.set_place(doll.get('id'));
        var dollView = new DollView({ model: doll });
        dollView.render();
        App.vent.trigger('setPlace',doll.get('place_id'));
      },
      error: function(model,response,options){
        console.log("fetch error")
      }
    });

    var places = new PlaceCollection();
    places.fetch({
      success: function(){
        var that = this;
        console.log("places.models: " + places.models[0].get('id'));
        _.each(places.models, function(place){
          console.log("place id: " + place.get('id'));
          placeView = new PlaceView({ model:place });
        })


      App.vent.on('setPlace', function(id){
        debugger;
        newMainPlace = this.get(id);
        console.log("newMainPlace: " + newMainPlace);
        newMainPlace.render();
      } ,that);
    }
    });
  });
</script>
